Options -Indexes
RewriteEngine On
RewriteRule ^products\.ndjson$ products.ndjson.php [L]

AddType application/x-ndjson .ndjson
<Files "products.ndjson">
  Header set Cache-Control "public, max-age=300"
</Files>
